<html lang="ko" xmlns:th="http://thymeleaf.org">
<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<header>
    <h2>userView.html</h2>
    <hr>

</header>

<main>
    <th:block>
        <div th:each="user : ${userList}">
            <div th:text="|id = ${user.id}|"></div>
            <div th:text="|userId = ${user.userId}|"></div>
            <div th:text="|userName = ${user.userName}|"></div>
            <div th:text="|userNumber = ${user.userNumber}|"></div>
            <div th:text="|user MannerPoint = ${user.mannerPoint}|"></div>
            <hr>

        </div>

    </th:block>
    <hr>
    <form action="/modelDelete" method="post">
        <label for="id">id : </label>
        <input type="text" name="id" id="id">
        <input type="hidden" name="modelType" value="user">
        <button type="submit">삭제</button>
    </form>
    



</main>


</body>
</html>