<div th:replace="~{layout/layout :: layout(~{::content})}">

    <div th:fragment="content">
<main>
    <h3>user Model</h3>
    <form action="/test/model/user/add" method="post">
        <label for="userId">아이디:</label>
        <input type="text" id="userId" name="userId" required><br>
        <label for="userName">이름:</label>
        <input type="text" id="userName" name="userName" required><br>
        <label for="userNumber">number:</label>
        <input type="text" id="userNumber" name="userNumber" required><br>

        <button type="submit">POST 전송</button>
    </form>
    <form action="/test/model/userPinNoti/findAll" method="get">
        <input type="hidden" name="modelType" value="user">
        <button type="submit">조회</button>
    </form>

    <h3>MapPin Model</h3>
    <form action="/test/model/mapPin/add" method="post">
        <label for="lon">lon:</label>
        <input type="number" step="any" id="lon" name="lon" required><br>
        <label for="lat">lat:</label>
        <input type="number" step="any" id="lat" name="lat" required><br>
        <label for="title">title:</label>
        <input type="text" id="title" name="title" required><br>
        <label for="description">description:</label>
        <input type="text" id="description" name="description" required><br>

        <button type="submit">POST 전송</button>
    </form>
        <form action="/test/model/userPinNoti/findAll" method="get">
            <input type="hidden" name="modelType" value="mapPin">
            <button type="submit">조회</button>
        </form>

    <h3>Notification Model</h3>
    <form action="/test/model/notification/add" method="post">
        <label for="userId">userId:</label>
        <input type="text" id="userId" name="userId" required><br>
        <label for="description">description:</label>
        <input type="text" id="description" name="description" required><br>

        <button type="submit">POST 전송</button>
    </form>
    <form action="/test/model/userPinNoti/findAll" method="get">
        <input type="hidden" name="modelType" value="notification">
        <button type="submit">조회</button>
    </form>


</main>
    </div>

</div>