<div th:replace="~{layout/layout :: layout(~{::content})}">

    <div th:fragment="content">
<main>
    <th:block>
        <div th:each="noti : ${notificationList}">
            <div th:text="|id = ${noti.id}|"></div>
            <div th:text="|description = ${noti.description}|"></div>
            <div th:text="|userid = ${noti.user?.userId}|"></div>
            <hr>
        </div>

    </th:block>
    <form action="/test/model/userPinNoti/delete" method="post">
        <label for="id">id : </label>
        <input type="text" name="id" id="id">
        <input type="hidden" name="modelType" value="notification">
        <button type="submit">삭제</button>
    </form>


</main>
    </div>
</div>